html {
    scroll-behavior: smooth;
}

body {
    font-family: TikTok Sans, monospace;
    font-size: 16px;
    font-weight: 300;
    color: white;
    background-color: #2d2847;

    max-width: 800px;
    margin: 5px auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    border-radius: 8px;
    border: 1px solid #8b7fd6;
}

.container {
    position: relative;
}

h3, h4 {
    color: #8b7fd6;
    margin: 15px 0;
}

table, tbody, tr, th, td {
    padding: 2px;
    border: 1px solid #d5d8dc;
    border-collapse: collapse;
}

.table,
.projects {
    margin-bottom: 20px;
}

ul, form {
    list-style-position: inside;
    padding-left: 0;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
}

nav, .button_container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.fixed_line {
    margin: 10px;
    border: 1px inset #8b7fd6;
}

.line_for_project {
    border: 1px dashed #8b7fd6;
    width: 50%;
    margin: 25px auto;
}

.nav_button {
    text-decoration: none;
    color: inherit;
}

.project_link,
.button_submit {
    background-color: #181C29;
    color: #d5d8dc;
    text-decoration: none;
    padding: 10px 22px;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s;
}

.button_submit {
    background-color: #181C29;
    border: none;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

.nav_button:hover,
.project_link:hover,
.button_submit:hover {
    color: #8b7fd6;
}

.top_button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1000;

    /* Сначала скрываем кнопку */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    transform-origin: center;
}

/* Класс для показа кнопки */
.top_button.visible {
    opacity: 1;
    visibility: visible;
}
.top_button img {
    display: block;
    width: 40px; /* Настройте размер */
    height: 40px;
}

.top_button:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.footer {
    text-transform: uppercase;
}

.footer_container {
    margin: 10px;
}

.footer_contacts {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

input, select, textarea {
    font-family: TikTok Sans, monospace;
    font-size: 14px;
    font-weight: 300;
}

#checkbox {
    width: 15px;
    height: 15px;
    margin: 0;
    transform: translateY(1px);
    cursor: pointer;
}

input[type="radio"] {
    margin: 0;
    transform: translateY(1px);
    cursor: pointer;
}

.radio {
    gap: 5px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
}